body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/background.png');
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
    color: #333;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

main {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px;
    border-radius: 5px;

}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    bottom: 0;
    width: 100%;
}